<?xml version="1.0"?>
<robot name="ZumoCarto">

    <link name="imu"/>
    <link name="scan"/>
    <link name="base_link">
        <visual>
            <origin rpy="0 0 3.14" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://ZumoCarto/urdf/zumo.STL" scale="0.1 0.1 0.1"/>
            </geometry>
            <material name="Grey">
                <color rgba="0.30 0.30 0.10 1.0"/>
            </material>
        </visual>
    </link>
    <joint name="jointimu" type="fixed">
        <parent link="base_link"/>
        <child link="imu"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>
    
    <joint name="jointscan" type="fixed">
        <parent link="base_link"/>
        <child link="scan"/>
        <origin rpy="0 0 0" xyz="0 0 0.08"/>
        
    </joint>

  
  
</robot>